
<ion-view view-title="Home" name="home-view">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
        <div class="row">
            <div class="col text-center">

                <br><br><br>
                <button class="button button-full button-positive" ng-click="signup()">Vous êtes coiffeur
                </button>
                <br>
                <button class="button button-full button-energized" ng-click="client()">Vous êtes client
                </button>


            </div>
        </div>
    </ion-content>
</ion-view>